{include file="../application/user/view/layout/header.html" /}
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        {include file="../application/user/view/layout/nav.html" /}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>系统公告</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="main.php">首页</a>
                    </li>
                    <li>
                        <a>信息管理</a>
                    </li>
                    <li class="active">
                        <strong>系统公告</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom">
                <div class="p-xs">
                    <div class="pull-left m-r-md">
                        <i class="fa fa-globe text-navy mid-icon"></i>
                    </div>
                    <h2>系统公告</h2>
                    <span>系统近期公布的相关新闻和公告</span>
                </div>
            </div>
            
                        <div class="vote-item">暂无数据！</div>
                        
            <div style="margin-top: 10px;">
            <meta charset="UTF-8">
                <title>Title</title>
                <link href="../Public/css/style_my.css" rel="stylesheet" type="text/css">

<div id="listPaging" class="row grey-bg"><form action="?&action=newslist" method="get"><div class="col-md-6" style="padding-top: 10px;">
        <p>共<b class="blue">0</b>条记录，当前显示第&nbsp;<b class="blue">0</b>&nbsp;页&nbsp;共0页</p>
    </div><div class="col-md-6"><div class="btn-group pull-right" style="padding-top: 5px;"><a class="btn btn-white btn-sm" href="?page=1&action=newslist">首页</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=1&action=newslist">上一页</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=0&action=newslist">下一页</a>&nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="?page=0&action=newslist">尾页</a>&nbsp;&nbsp;<div class="form-group"><input type="text" size=20 name="page"  onkeyup="value=value.replace(/[^\d]/g,'')" ><input type="submit" class="btn btn-white" data-submitbutton="true" value="GO"><input type="hidden" name="action" value="newslist"></div></div></div></form></div>
            </div>
            <!--翻页-->
        </div>
{include file="../application/user/view/layout/footer.html" /}          
</div>
</div>
</div>
</body>
</html>
