{include file="../application/user/view/layout/header.html" /}
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        {include file="../application/user/view/layout/nav.html" /}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>产品订购</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="main.php">首页</a>
                    </li>
                    <li>
                        <a>订单管理</a>
                    </li>
                    <li class="active">
                        <strong>产品订购</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox" style="display:none">
                            <div class="ibox-title">
                                <h5>产品分类</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="scroll_content" style="background-color: white;overflow:auto;height: 90px;">
                                    <div class="col-xs-2">
                                        <h4><a href="order.php" style="color:#1ab394;font-weight: 100;">全部</a></h4>
                                    </div>
                                                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-3">
                        <a href="/user/order/productInfo"></a>
                        <div class="ibox"><a href="main.php?action=shopinfo&shopid=23">
                            </a>
                            <div class="ibox-content product-box"><a href="/user/order/productInfo">
                                <div class="product-imitation" style="padding: 0px;">
                                    <img src="yimaoupfile/1507795111023022298.jpg" width="314px">
                                                                    </div>
                                </a>
                                <div class="product-desc"><a href="/user/order/productInfo">
                                <span class="product-price">
                                    ￥1200.00                               </span>
                                    <small class="text-muted">总类</small>
                                    </a><a href="/user/order/productInfo" class="product-name"> 普莱蒂斯·青春至尊套装</a>
                                    <div class="m-t text-righ">
                                        <a href="/user/order/productInfo" class="btn btn-xs btn-outline btn-primary">查看详情 <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>    
                <div id="listPaging" class="row grey-bg"><form action="?&action=buymai" method="get"><div class="col-md-6" style="padding-top: 10px;">
        <p>共<b class="blue">19</b>条记录，当前显示第&nbsp;<b class="blue">1</b>&nbsp;页&nbsp;共2页</p>
    </div><div class="col-md-6"><div class="btn-group pull-right" style="padding-top: 5px;"><a class="btn btn-primary btn-sm" href="?page=1&action=buymai">首页</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=1&action=buymai">上一页</a>&nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="?page=1&action=buymai" class="selpage">1</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=2&action=buymai">2</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=2&action=buymai">下一页</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=2&action=buymai">尾页</a>&nbsp;&nbsp;<div class="form-group"><input type="text" size=20 name="page"  onkeyup="value=value.replace(/[^\d]/g,'')" ><input type="submit" class="btn btn-white" data-submitbutton="true" value="GO"><input type="hidden" name="action" value="buymai"></div></div></div></form></div>
                                </div>
            </div>        
{include file="../application/user/view/layout/footer.html" /}          
</div>
</div>
</div>
</body>
</html>
