{include file="../application/user/view/layout/header.html" /}
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        {include file="../application/user/view/layout/nav.html" /}
<link href="yimaotheme/style/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<script src="yimaotheme/style/js/jquery.bootstrap-touchspin.min.js"></script>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>产品详情</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="main.php">首页</a>
                    </li>
                    <li class="active">
                        <strong>产品详情</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="ibox product-detail">
                            <div class="ibox-title">
                                <h5>产品详情</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="row">
                                    <div class="col-md-5">


                                        <div class="product-images">

                                            <div>
                                                <div class="image-imitation" style="padding: 0px">
                                                <img src="yimaoupfile/1507794401266543667.jpg">
                                                                                                                                                         </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="col-md-7">

                                        <h2 class="font-bold m-b-xs">
                                            普莱蒂斯·青春密码原液30ml                                        </h2>
                                        <!--<small>美容化妆</small>-->
                                        <div class="m-t-md">
                                            <h2 class="product-main-price"><b class="text-info" style="font-size: 14px;font-weight: 100;">订货券价：</b><b class="text-danger" style="font-size: 24px;font-weight: 100;"><i class="fa fa fa-cny "></i>780.00</b>  </h2>
                                        </div>
                                        <div class="m-t-md">
                                            <h2 class="product-main-price"><b class="text-info" style="font-size: 14px;font-weight: 100;">优惠券价：</b><b class="text-danger" style="font-size: 24px;font-weight: 100;"><i class="fa fa fa-cny "></i>1560.00</b>  </h2>
                                        </div>

                                        <h4>产品描述</h4>

                                       
                                        <h3 class="product-main-price">
                                            <b class="text-info" style="font-size: 14px;font-weight: 100;">库存</b>
                                            <small class="text-muted"> 791 瓶</small>
                                        </h3>
                                        <form class="form-horizontal" name="form1" action="order.php?action=cart" id="orderForm" method="post">
                                            <div class="form-group">
                                                <!--<label class="col-sm-2 control-label">数量：</label>-->

                                                <div class="col-sm-3">
                                                    <div class="input-group bootstrap-touchspin">
                                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none; "></span>
                                                        <input class="touchspin1 form-control"  type="text" value="1" name="num" style="display: block; ">
                                                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none; "></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div  class="form-group">
                                                <div class="radio radio-inline">
                                                    <input type="radio" id="gwpay" value="gwpay" name="paytype" checked="">
                                                    <label for="gwpay"> 提货券支付</label>
                                                </div>
                                                <div class="radio radio-success radio-inline">
                                                    <input type="radio" id="dkpay" value="dkpay" name="paytype" >
                                                    <label for="dkpay"> 优惠券支付</label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="jdpay" value="jdpay" name="paytype" >
                                                    <label for="jdpay"> 订货券支付</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="btn-group">
                                                    <input type="hidden" name="cpid" value="21">
                                                    <input type="hidden" name="act" value="goumai">
                                                    <input type="hidden" name="__hash__" value="67930b1ebfe46eb60f0681e2b4acb066f28953f8" />
                                                    <button class="ladda-button ladda-button-demo btn btn-primary" data-style="zoom-in" id="add_to_cart" type="button"><span class="ladda-label"><i class="fa fa-cart-plus"></i> 购买</span><span class="ladda-spinner"></span></button>
                                                    <!--<a class="btn btn-white" href="mygoodscart.php"> 查看购物车</a>-->
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-white btn-sm" onclick="history.go(-1);"><i class="fa fa-reply"></i> 返回</a>
                                            </div>
                                        </div>



                                    </div>
                                    
                                </div>
                                </br></br>
                                <div class="row" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <p style="white-space: normal; text-align: center;"><img src="https://www.zhdls.com/ueditor/php/upload/image/20170718/1500365834829830.jpg" title="1500365834829830.jpg"/></p><p style="white-space: normal; text-align: center;"><img src="https://www.zhdls.com/ueditor/php/upload/image/20170718/1500365834516007.jpg" title="1500365834516007.jpg"/></p><p style="white-space: normal; text-align: center;"><img src="https://www.zhdls.com/ueditor/php/upload/image/20170718/1500365834785383.jpg" title="1500365834785383.jpg"/></p><p><br/></p>                                  </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
        
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
<script>
    $(document).ready(function () {


        var l = $('#add_to_cart').ladda();

        l.click(function () {
            swal({ 
                title: "产品购买", 
                text: "您确定要购买该产品吗？", 
                type: "warning", 
                showCancelButton: true, 
                closeOnConfirm: false, 
                confirmButtonText: "是的，我要购买", 
                confirmButtonColor: "#ec6c62" 
            }, function() {
                // Start loading
                l.ladda('start');
                setTimeout(function () {
                    $.ajax({
                        url: "control.php",
                        type: "post",
                        dataType: "json",
                        data: $("#orderForm").serialize(),
                        error: function (msg) {
                            showSweetAlert('', msg, 'error');
                            setTimeout(function () { 
                                window.location.reload();
                            }, 2000);
                        },
                        success: function (msg) {
                            if (msg.Result != 1) {
                                showSweetAlert('', msg.Description, 'error')
                            } else {
                                showSweetAlert("", msg.Description, "success",function (isConfirm) {
                                    if(msg.toUrl!=null){
                                        location.href = msg.toUrl;
                                    }
                                });
                                setTimeout(function () {
                                    if(msg.toUrl!=null){
                                        location.href = msg.toUrl;
                                    }
                                },2000);
                            }
                            l.ladda('stop');
                        }
                    });
                }, 500);
            });
        });
    });
</script>        
{include file="../application/user/view/layout/footer.html" /}  
</div>
</div>
</body>
</html>
