{include file="../application/user/view/layout/header.html" /}
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        {include file="../application/user/view/layout/nav.html" /}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>换券</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="main.php">首页</a>
                    </li>
                    <li>
                        <a>财务管理</a>
                    </li>
                    <li class="active">
                        <strong>换券</strong>
                    </li>
                </ol>
            </div>
        </div>



        <div class="container">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5 class="text-warning">换券记录</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <form class="form-inline title-form" name="form2" method="get" action="">
                                        <input type="hidden" name="action" value="huanlist">
                                        <div class="form-group" id="data_5">
                                            <label class="font-noraml"></label>
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="text" class="input-sm form-control" name="time1" placeholder="开始日期">
                                                <span class="input-group-addon">到</span>
                                                <input type="text" class="input-sm form-control" name="time2" placeholder="截止日期">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info">查询</button>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">我要换券</button>
                                    </form>
                                </div>
                                <div class="row">

                                    <div class="tablesaw-bar mode-stack"></div>
                    <table style="font-size:17px" class="table table-hover tablesaw-stack" data-tablesaw-mode="stack" id="example">
                        <thead>
                            <tr role="row">
                                <th>序号</th>     
                                <th>换券金额</th>
                                <th>扣税金额</th>
                                <th>实际金额</th>
                                <th>换券类型</th>
                                <th>换券时间</th>
                            </tr>
                        </thead>
                        <tbody id="listDtl">
                        
                                                    <tr><td colspan="7" style="text-align:center;">暂无数据</td></tr>
                                                </tbody></table>
                <div id="listPaging" class="row grey-bg"><form action="?&action=huanlist&templist=1" method="get"><div class="col-md-6" style="padding-top: 10px;">
        <p>共<b class="blue">0</b>条记录，当前显示第&nbsp;<b class="blue">0</b>&nbsp;页&nbsp;共0页</p>
    </div><div class="col-md-6"><div class="btn-group pull-right" style="padding-top: 5px;"><a class="btn btn-white btn-sm" href="?page=1&action=huanlist&templist=1">首页</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=1&action=huanlist&templist=1">上一页</a>&nbsp;&nbsp;<a class="btn btn-white btn-sm" href="?page=0&action=huanlist&templist=1">下一页</a>&nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="?page=0&action=huanlist&templist=1">尾页</a>&nbsp;&nbsp;<div class="form-group"><input type="text" size=20 name="page"  onkeyup="value=value.replace(/[^\d]/g,'')" ><input type="submit" class="btn btn-white" data-submitbutton="true" value="GO"><input type="hidden" name="action" value="huanlist"><input type="hidden" name="templist" value="1"></div></div></div></form></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".input-sm").datepicker({
                todayBtn: "linked",
                keyboardNavigation: !1,
                forceParse: !1,
                calendarWeeks: !0,
                autoclose: !0
            });
        });
    </script>
    
    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <!--  <i class="fa fa-money modal-icon"></i>-->
                <h4 class="modal-title">换券</h4>
                <!--<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>-->
            </div>
            <div class="modal-body">
                <p>备注：<span class="label label-warning">换券将扣除5%的税费</span></p>
                <p>您当前的订货券为：<span class="label label-warning">0.01</span></p>
                <p>您当前的激活券为：<span class="label label-warning">0.00</span></p>
                <form role="form" id="sendForm" method="post" action="">
                    <input type="hidden" name="act" value="qhuan">
                    <input type="hidden" name="__hash__" value="8c95a3465cd1cb816417aee39f4f299d77557bb7" />
                    <div class="form-group"><label>换券类型 (激活券存券会计算新增业绩)</label>
                        <select name="ztype" id="ztype" class="form-control">
                            <option value=0 >订货券转激活券</option>     
                        </select>
                    </div>
                    <div class="form-group"><label>换券数量</label>
                        <div id="price_slider" style="margin: 10px auto" class="noUi-target noUi-ltr noUi-horizontal noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="left: 0%; "><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
                        <input type="text" placeholder="" class="form-control" name="price" value="" id="price">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="ladda-button ladda-button-demo btn btn-warning" id="sendUp" onclick="sendAjax('sendUp','control.php')" data-style="zoom-in">确认换券</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var range = document.getElementById('price_slider');
        noUiSlider.create(range, {
            start: 0,
            behaviour: 'tap',
            connect: 'lower',
            range: {
                'min':  0,
                'max':  3680.30            }

        });
        var valueInput = document.getElementById('price');
        range.noUiSlider.on('update', function( values, handle ) {
            if ( !handle ) {
                valueInput.value = values[handle];
            }
        });
        valueInput.addEventListener('change', function(){
            document.getElementById('price_slider').noUiSlider.set(this.value);
        });

    });
</script>
<script>
function sendAjax(buttonId,goPage){
    is_opt = true;
    swal({ 
        title: "确定换券？", 
        text: "您确定要进行换券操作吗？", 
        type: "warning", 
        showCancelButton: true, 
        closeOnConfirm: true, 
        confirmButtonText: "是的，我要换券", 
        confirmButtonColor: "#ec6c62" 
    }, function() {
        if(is_opt == true){
            is_opt = true;
            var thisTicket = "#"+buttonId;
            var l = $(thisTicket).ladda();

            // Start loading
            l.ladda('start');
            setTimeout(function () {
                $.ajax({
                    url: goPage,
                    type: "post",
                    dataType: "json",
                    data: $("#sendForm").serialize(),
                    error: function (msg) {
                        showSweetAlert('', msg, 'error');
                    },
                    success: function (msg) {
                        if (msg.Result != 1) {
                            showSweetAlert('', msg.Description, 'error');
                            setTimeout(function () {
                                location.reload();
                            },1000);
                        } else {
                            showSweetAlert("", msg.Description, "success",function (isConfirm) {
                                location.href = msg.toUrl;
                            });
                            setTimeout(function () {
                                location.href = msg.toUrl;
                            },2000);
                        }
                        l.ladda('stop');
                    }
                });
            }, 500);
        }
        
    });
}
</script>
{include file="../application/user/view/layout/footer.html" /}
</div>
</div>
</div>
</body>
</html>
