{include file="../application/user/view/layout/header.html" /}
<body class="top-navigation" lim:visitorcapacity="1">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
    {include file="../application/user/view/layout/nav.html" /}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>个人资料</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="https://www.zhdls.com/main.php">首页</a>
                </li>
                <li>
                    <a>资料管理</a>
                </li>
                <li class="active">
                    <strong>个人资料</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="container">
        首页
    </div>
    {include file="../application/user/view/layout/footer.html" /}
    </div>
</div>
</body>
</html>

